<div class="container">
    <div class="row pt-5">
        <div class="col-4"></div>
    
        <div class="col-4">
            <img class="w-100" src="assets/img/burger.png" />
        </div>

        <div class="col-4"></div>
    </div>
</div> 

<div class="container">
    <div class="row">
        <div class="col p-3">
            &nbsp;
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="input-group mb-3">
                <input type="text" class="form-control addBurger" id="addBurger" placeholder="Add burger" aria-label="Burger" aria-describedby="burger-addon">
                <div class="input-group-append">
                    <span class="input-group-text" id="burger-addon">Submit</span>
                </div>
            </div>
            <div class="error col text-danger d-none pb-5"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-5">
            {{#each burger}}
                {{#unless devoured}}
                    <div class="row my-3 bg-warning rounded">
                        <div class="col-6 line-height">{{this.id}}. {{this.burger_name}} </div>
                        <div class="col-6 pr-0"><button data-id="{{this.id}}" class="btn btn-primary float-right devour">Devour</button></div>
                    </div>
                {{/unless}}
            {{/each}}
        </div>
        <div class="col-2">
            
        </div>
        <div class="col-5">
            {{#each burger}}
                {{#if devoured}}
                    <div class="row my-3 bg-light rounded">
                        <div class="col line-height done">{{this.id}}. {{this.burger_name}} </div>
                    </div>
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>